<!DOCTYPE html>
<html>
<head>
<title>This Is Now</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://use.fontawesome.com/f6bd501eb7.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-app="app" ng-controller="myController">
  <header class="header-bar">Kara Young: "Now"</header>
         <div class="main-content">
            <span><a class="html-toggle" href="index.html">THEN!</a></span>
              <div class="picture-container-now">

              </div>
              <input class="gallery-click" type="button" value="Gallery" ng-click="ShowHide()" />
                  <br />
                  <br />

                  <div ng-show="IsVisible" ng-repeat="photo in nowPhotos" class="gallery-container">
                    <span><img class="now-picture" ng-src="{{photo.img1}}"></span>
                    <span><img class="now-picture" ng-src="{{photo.img2}}"></span>
                    <span><img class="now-picture" ng-src="{{photo.img3}}"></span>
                    <span><img class="now-picture" ng-src="{{photo.img4}}"></span>
                  </div>
                  <footer class="footer">
                    <h1>Contact and Social Media</h1>
                       <section class="contact-info">
                         <a href="https://www.instagram.com/iamkarayoung/" target="_blank" class="fa fa-instagram"></a>
                         <span><a  class="email-inquiry" href="mailTo:karayoung@aol.com?Subject=Kara%20Young%20Inquiries!">karayoung@aol.com</a></span>
                         <a href="https://www.facebook.com/kara.georgiopoulos?ref=br_rs" target="_blank" class="fa fa-facebook"></a>

                       </section>
                  </footer>
    </div>
  </body>
</html>
